body{
    margin: auto;
    font-family: verdana;
}
.menu{
    background-color: #f0f1bd;
    padding: 10px;
    text-align: center;
}
.menu ul{
    display: block;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
    
.container1{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-color: #f0f1bd;
}
    .img-ct1{
        width: 500px;
    }
    .txt-ct1{
        width: 600px;
        padding: 40px;
    }

#mobile{
    display: none;
}

@media screen and (max-width: 994px){
    #mobile{
        transition: color .7s;
        color: #000;
        width: 60px;
        background: rgb(255, 242, 183);
        border: 2px solid #000;
        text-align: center;
        display: block;
        padding: 20px;
    }
    #mobile:hover{
        transition: color .7s;
        color: rgb(255, 242, 183);
        background: #000;
        border: 2px solid #000;
    }
    .menu{
        text-align: left;
    }
    .menu ul{
        display: none;
    }
    .menu ul li{
        display: block;
        padding: 20px;
    }
    .logo{
        text-align: center;
    }
    .container1{
        display: block;
        text-align: center;
    }
        .img-ct1{
            width: 100%;
        }
        .txt-ct1{
            width: 80%;
        }
    
}
